*{
  margin: 0;
  padding: 0;
}

.header{
  height: 100vh;
}

.navbar-style{
  box-shadow: 0 2px 10px;
  text-transform: uppercase;
}

.logo{
  height: 48px;
  padding: 2px 10px;
}
.icon-bar{
  background: black;
}
li a{
  color: black;
}
@font-face {
  font-family: myFirstFont;
  src: url(Blazed.ttf);
}

.dragon-text {
  font-size: 50px;
  font-family: myFirstFont;
  background: -webkit-linear-gradient(rgb(227, 252, 2), rgb(255, 111, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a.btn{
  margin: 30px 10px;
  width: 150px;
  padding: 10px;
  border-radius: 20px;
}
a.btn-1{
  background: transparent;
  color: black;
  border: 1px solid black;
}
a.btn-2{
  background-color: black;
  color: white;
}
a.btn:hover{
  background: darkred;
  border: none;
  color: white;
  box-shadow: 5px 5px 10px #666;
}
.banner-info, .banner-image{
  margin: 30px 0;
}
.container-2{
  width: 100%;
  height: 100vh;
  padding: 0 8%;
}
.container-2 h1{
  text-align: center;
  padding-top: 10%;
  margin-bottom: 60px;
  font-weight: 600;
  position: relative;
}
.container-2 h2{
  font-size: 200;
  font-weight: 700;
}
.container-2 p{

}
.container-2 h1::after{
  content: '';
  background: rgb(255, 0, 0);
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.row-1{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}
.service{
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
}
.service:hover{
  background: rgb(255, 196, 0);
  color: white;
}